@import '../themeVariables/breakpoint.css';
@import '../themeVariables/typography.css';

@utility h1-* {
  font-weight: --value(--font-weight-*);
  font-size: var(--text-h2);
  @variant desktop {
    font-size: var(--text-h1);
  }
}

@utility h2-* {
  font-weight: --value(--font-weight-*);
  font-size: var(--text-h3);
  @variant desktop {
    font-size: var(--text-h2);
  }
}

@utility h3-* {
  font-weight: --value(--font-weight-*);
  font-size: var(--text-h4);
  @variant desktop {
    font-size: var(--text-h3);
  }
}

@utility h4-* {
  font-weight: --value(--font-weight-*);
  font-size: var(--text-h5);
  @variant desktop {
    font-size: var(--text-h4);
  }
}

@utility h5-* {
  font-weight: --value(--font-weight-*);
  font-size: var(--text-h6);
  @variant desktop {
    font-size: var(--text-h5);
  }
}

@utility h6-* {
  font-weight: --value(--font-weight-*);
  font-size: var(--text-body);
  @variant desktop {
    font-size: var(--text-h6);
  }
}

@utility body-* {
  font-weight: --value(--font-weight-*);
  font-size: var(--text-small);
  @variant desktop {
    font-size: var(--text-body);
  }
}

@utility small-* {
  font-weight: --value(--font-weight-*);
  font-size: var(--text-extra-small);
  @variant desktop {
    font-size: var(--text-small);
  }
}

@utility extra-small-* {
  font-weight: --value(--font-weight-*);
  font-size: 8.2px;
  @variant desktop {
    font-size: var(--text-extra-small);
  }
}
